{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OrgBazar | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'websitetemp/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'websitetemp/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'websitetemp/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'websitetemp/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'websitetemp/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'websitetemp/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'websitetemp/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'websitetemp/css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="{% static 'websitetemp/img/logo23.png'%}" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="{% static 'websitetemp/img/language.png' %}" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Ana Səhifə</a></li>
                <li><a href="./shop-grid.html">Mağaza/a></li>
                <li><a href="#">Səhifələr</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shopdet.html">Shop Details</a></li>
                        <li><a href="{% url 'shoppingcart' %}">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'blog' %}">Bloq</a></li>
                <li><a href="./contact.html">Əlaqə</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap">hello</div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                <li>50kq dan aşağı olan bütün məhsullarda pulsuz çatdırılma mövcuddur</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i></li>
                                <li>50kq dan aşağı olan bütün məhsullarda pulsuz çatdırılma mövcuddur</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="{% static 'websitetemp/img/language.png' %}" alt="">
                                <div>English</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Spanis</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="#"><i class="fa fa-user"></i> Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="{% static 'websitetemp/img/logo23.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="./index.html">Ev</a></li>
                            <li><a href="{% url 'shopdet' %}">Mağaza</a></li>
                            <li><a href="#">Səhifələr</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="{% url 'shopdet' %}">Alış-veriş detalları</a></li>
                                    <li><a href="{% url 'shoppingcart' %}">Alış-veriş arabası</a></li>
                                    <li><a href="./checkout.html">Əldə et</a></li>
                                    <li><a href="./blog-details.html">Bloq detalları</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">BLOQ</a></li>
                            <li><a href="./contact.html">Əlaqə</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                        <div class="header__cart__price">qiymət: <span>$150.00</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Bütün Məsullarımız</span>
                        </div>
                        <ul>
                            <li><a href="#">Təzə ət</a></li>
                            <li><a href="#">Tərəvəzlər</a></li>
                            <li><a href="#">Meyvələr</a></li>
                            <li><a href="#">Süt Məhsulları</a></li>
                            <li><a href="#">Fındıq və Qoz</a></li>
                            <li><a href="#">Yumurta</a></li>
                            <li><a href="#">Quru Meyvələr</a></li>
                            <li><a href="#">Un Məmulatları</a></li>
                            <li><a href="#">Bal</a></li>
                            <li><a href="#">Ədviyyatlar</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="{% url 'home' %}" method="post">
                                {% csrf_token %}
                                <div class="hero__search__categories">
                                    Kateqoriyalar
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                {% csrf_token %}
                                <input type="text" name="flint" placeholder="Nə Axtarırsınız? " >
                                <button type="submit" class="site-btn">AXTAR</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg="{% static 'websitetemp/img/hero/banner.jpg' %}">
                        <div class="hero__text">

                            <span>Tarlamızdan Evinizə</span>
                            <h2>100% Təbii<br />Məhsullar</h2>
                            {% csrf_token %}
                            <p>Pulsuz Çatdırılma Mövcuddur </p>
                            <a href="#" class="primary-btn">ƏLDƏ ET</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'websitetemp/img/forme/123.jpg' %}">
                            <h5><a href="#">Meyvələr</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'websitetemp/img/forme/1234.jpg' %}">
                            <h5><a href="#">Quru meyvələr</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'websitetemp/img/forme/12.jpeg' %}">
                            <h5><a href="#">Tərəvəz</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'websitetemp/img/forme/12345.jpg' %}">
                            <h5><a href="#">Kompotlar</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'websitetemp/img/forme/123456.jpg' %}">
                            <h5><a href="#">Ət</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Çox Alınanlar {{ zaporoj }}</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                <div class="col-lg-3 col-md-4 col-sm-6 fastfood">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static 'websitetemp/img/forme/123456.jpg' %}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="{% url 'shopdet' %}"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Ət</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 vegetables">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static 'websitetemp/img/forme/qoz.jpg' %}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="{% url 'shopdet' %}"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Qoz</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static 'websitetemp/img/forme/sut.jpg' %}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Süt</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 oranges ">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static 'websitetemp/img/forme/yum.jpg' %}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Yumurta</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 vegetables">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static 'websitetemp/img/forme/uzum.jpg' %}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Üzüm</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static 'websitetemp/img/forme/12345.jpg' %}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Kompot</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood vegetables">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static 'websitetemp/img/featured/feature-8.jpg' %}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Alma</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="{% static 'websitetemp/img/banner/banner-1.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="{% static 'websitetemp/img/banner/banner-2.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

   

    <!-- Blog Section Begin -->
    <section class="from-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title from-blog__title">
                        <h2>Bu Günki Bloq</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="{% static 'websitetemp/img/forme/cheese.jpg' %}" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> sentyabr 4,2020</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Pendir Növləri və onların fərqi</a></h5>
                            <p>Pendir Növləri çoxdur , ancaq bu bloqda , təkcə əsas növləri haqqında bəhz edəceyik. Pen...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="{% static 'websitetemp/img/forme/yoha.jpg' %}" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> sentyabr 5 ,2020</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Təbii qidanin bədənə təsiri </a></h5>
                            <p>Bu bloqda biz təbii qidalanan vücud ilə organik olmayan məhsullarla qidalanan bədəni müqaisə ed... </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
<iframe width="560" height="315" src="https://www.youtube.com/embed/shR0NH3P1Xk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> sentyabr 6 ,2020</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Bizim organik Məsullarımızın vətəni ilə tanış olaq</a></h5>
                            <p>Bu videoda sizi orgbazar saytinin vətəni ilə taniş edəceyik</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="{% static 'websitetemp/img/logo23.png' %}" alt=""></a>
                        </div>
                        <ul>
                            <li>Adres: Səməd Vurğun, QAX rayonu , Azərbaycan</li>
                            <li>Telefon: Lazim deyil</li>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Linklər</h6>
                        <ul>
                            <li><a href="#">Haqqımızda</a></li>
                            <li><a href="#">Mağazamız Haqqında</a></li>
                            <li><a href="#">Çatdırılma Məlumatı</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Biz Kimik</a></li>
                            <li><a href="#">Bizim qulluqlarımız</a></li>
                            <li><a href="#">Proyektlərimiz</a></li>
                            <li><a href="#">Əlaqə</a></li>
                            <li><a href="#">Innovasiyalar</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <form action="#">
                            <input type="text" placeholder="mail daxil edin">
                            <button type="submit" class="site-btn">Abunə Ol</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="{% static 'websitetemp/img/payment-item.png' %}" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'websitetemp/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'websitetemp/js/bootstrap.min.js"></script>
    <script src="{% static 'websitetemp/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'websitetemp/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'websitetemp/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'websitetemp/js/mixitup.min.js' %}"></script>
    <script src="{% static 'websitetemp/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'websitetemp/js/main.js' %}"></script>



</body>

</html>